*.kdev4
*.opensdf
*.pdb
*.sdf
*.suo
*.swp
.DS_Store
x64/
/InfiniTAM/build/
/InfiniTAM/buildx/
/InfiniTAM/freeglut/
/InfiniTAM/install/
/InfiniTAM/librealsense/
/InfiniTAM/Files/Out/out.ppm
/InfiniTAM/Files/Out/*.ppm
/InfiniTAM/Files/Teddy/Frames
/InfiniTAM/*.tags

# QtCreator CMake
CMakeLists.txt.user*

# Outputs
InfiniTAM/scripts/InfiniTAM/ITM-ICP-Pose.txt
InfiniTAM/scripts/InfiniTAM/ITM-ICP.obj
InfiniTAM/scripts/InfiniTAM-BE/ITM-ICP-Pose.txt
InfiniTAM/scripts/InfiniTAM-BE/ITM-BE.obj

# VS Code
InfiniTAM/.vscode/